PYTHONPATH=.


AI_PROVIDER=huggingface
AI_MODEL_NAME=google/gemma-2-9b-it
HF_API_TOKEN=

OLLAMA_MODELS=mistral
OLLAMA_PULL_ON_START=true

HOST=0.0.0.0
PORT=8000

OLLAMA_BASE_URL=http://host.docker.internal:11434      
# "http://127.0.0.1:11434"